*{
    margin: 0;
}

h1{
    width: 20px;
    height: 100px;
    margin: 20px 10px;
    padding: 10px;
    border: 100px red solid;
}
#CajaAzul{
    background-color: blue;
    box-sizing: border-box;
    margin: 40px;
    padding: 20px 10px;
    width: 100px;
    height: 100px;
}